header {
    display: flex;
    justify-content: start;
    padding: 3px 40px;
    width: 85%;
    margin: 5px auto;
    div{
        color: black;
        font-weight: bold;
        padding:5px 0;
        text-align: center;   
        fill: white; 
    }
}
